.container{
    /* justify-content: center; */
    /* display: inline-flex; */
    /* width: max-content; */
    position: absolute;
    left: 0px;
    right:0px;
}

.display-bar{
    /* display:flex; */
    /* flex-direction: column; */
    background-color: rgb(88, 245, 68);
    width: 5px;
    margin: 2px;
    display: inline-block;
}